#Footer{
    min-width: 1200px;
    padding: 40px 0 50px 0;
    background-color: rgba(55,55,55,1);
    display: flex;
    justify-content: center;
}

.Footer-Container{
    width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.Footer-Top{
    display: flex;
    justify-content:  space-between;
    align-items: center;

}

.Footer-Logo-Box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Footer-Logo-Text{

    color: rgba(255,255,255,1);

    font-family: 'GimhaeGaya';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.Footer-Link-Box{

    display: flex;
    align-items: center;
    gap: 20px;


}

.Footer-Email-Link{
    color: rgba(255,255,255,1);
    font-family: 'GimhaeGaya';
    font-size: 12px;
    font-weight: 400;
}

.Footer-CopyRight{
    color: rgba(255,255,255,1);
    font-family: 'GimhaeGaya';
    font-size: 12px;
    font-weight: 400;
}